.slider-container {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .image-container {
    position: relative; /* Make image container the reference point for the button */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0 15px; /* Adjust padding for spacing between images */
    box-sizing: border-box;
  }
  
  .carousel-image {
    width: 100%;
    height: 300px; /* Set the height as per your requirement */
    object-fit: cover; /* Ensures images are centered and cropped properly */
  }
  
