.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo img {
    height: 75px;
    cursor: pointer;
}

.header__navigation {
    flex: 1;
    display: flex; 
    justify-content: center;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.header__nav-list li {
    text-transform: uppercase;
}

.header__nav-list li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s, border-bottom 0.3s;
}

.header__nav-list li a.active,
.header__nav-list li a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.header__auth-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__icon{
    size: 2rem;
}
.header__icon a {
    color: #333;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.header__icon a.active,
.header__icon a:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__navigation {
        justify-content: flex-start;
        margin-top: 10px;
        width: 100%;
    }

    .header__nav-list {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .header__search-bar {
        margin: 10px 0;
        width: 100%;
    }

    .header__search-input {
        width: 100%;
    }
}
