.wishlist-heading{
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #333;
}
.remove-button{
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s;
}
.remove-button:hover{
  background-color: rgb(119, 4, 4);
}